@tailwind base;
@tailwind components;
@tailwind utilities;

.myfont{
    font-family: 'Outfit', sans-serif;
}
.first-letter-caps:first-letter {
    text-transform: capitalize
  }



  .mycontent table{
    text-align: center;
  /* width: 700px; */
    border:1px solid black;
    border-collapse: collapse;
}

.mycontent th{

    border:1px solid black;
}


.mycontent td{
 
    border:1px solid black;
}




